@import "tailwindcss";

@theme {
  /* --- COLORES DEL MANUAL DE IDENTIDAD --- */
  --color-brand-blue: #2B68B0;
  --color-brand-teal: #64BDA5;
  --color-brand-magenta: #B82560;
  --color-brand-gray: #616160;
  
  /* --- MAPEOS --- */
  --color-brand-dark: #2B68B0;
  --color-brand-light: #f4f4f4;

  /* --- COLORES DE ESTADO --- */
  --color-brand-success: #10B981;
  --color-brand-danger: #EF4444;
  --color-brand-warning: #F59E0B;

  /* --- FUENTES --- */
  --font-sans: "Inter", sans-serif;
  /*
  --font-heading: "Montserrat", sans-serif;
  */
}

body {
  background-color: #f3f2ef; /* Fondo gris */
}

/* ==========================================================
   CLASES DE UTILIDAD PERSONALIZADAS
========================================================== */
.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* DEGRADADO DEL MANUAL DE IDENTIDAD */
.bg-gradient-brand {
  background: linear-gradient(90deg, #2B68B0 0%, #64BDA5 50%, #B82560 100%);
}

/* Línea de tiempo para el perfil */
.timeline-line {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #e5e7eb;
  z-index: 0;
}